body {
    font-family: Arial, sans-serif;
    margin: 40px;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#stockInfo {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

canvas {
    max-width: 1600px;
    height: 400px;
    margin: 0 auto;
}

